
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.App {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: gainsboro;
}

.color-container {
    background-color: red;
    height: 250px;
    width: 400px;
    border-radius: 32px;
    margin-bottom: 2rem;
}

.button-container {
    display: flex;
    column-gap: 2rem;
    margin-bottom: 2rem;
}

.button-container button {
    padding: 0.5rem 1.5rem;
    background-color: transparent;
    border: 2px solid rgb(24, 24, 24);
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
}

.high-score {
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-size: 2rem;
    font-family: 500;
}

.user-score {
    position: absolute;
    top: 5rem;
    left: 2rem;
    font-size: 2rem;
    font-weight: 500;
}
